mat-card{
    max-width: 650px;
    margin: 2em auto;
    text-align: center;
    max-height: auto;
    
  }
  
  .header{
    text-align: center;
  }
  
  .full-width{
    width: 40%;
  }

  .area-width{
      width: 60%;
  }
  
  .forgot-password{
    padding-left: 0px;
  }
  
  .email-input{
    padding-top: 10px;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }
  body{
    background-color: aqua;
    height: 100%;
  }