<mat-card>
    <mat-card-content>
        <hr>
        <div class="header">
            <h1>Forgot Password</h1>
        </div>
        <hr>
    <div *ngIf = fShow>
        <p style="color: red;">{{err}}</p>
        <!-- <form [formGroup]="forgotPasswordForm" class="text-center border border-light p-5" style="max-width: 400px;">
            <p class="h4 mb-4">Forgot password</p>
            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" formControlName="email" placeholder="E-mail">  
            <button class="btn btn-info my-4 btn-block" type="submit" (click)="sendOTP()">Send OTP</button>
            <hr>
        </form> -->
        <form [formGroup]="forgotPasswordForm" >
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput required/>
                    <mat-error *ngIf="forgotPasswordForm.get('email').errors?.required">
                        Required Email address
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').errors?.pattern">
                        Please Enter valid Email
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary"  type="submit" (click)="sendOTP()">Send OTP</button><br><br>
            </form>


    </div>
    <div *ngIf = isShow>
        <p style="color: green;">{{mail}}</p>
        <p style="color: red;">{{otpnot}}</p>
        <!-- <form [formGroup]="otpForm" class="text-center border border-light p-5" style="max-width: 400px;">
            <input type="number" id="defaultRegisterFormotp" class="form-control mb-4" formControlName="otp" placeholder="OTP">  
            <button class="btn btn-info my-4 btn-block" type="submit" (click)="verifyOTP()">verify OTP</button>
            <hr>
        </form> -->

        <form [formGroup]="otpForm" >
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    
                    <input formControlName="otp" placeholder="Enter OTP" matInput required/>
                    <mat-error *ngIf="otpForm.get('otp').errors?.required">
                        Required Email address
                    </mat-error>
                    <mat-error *ngIf="otpForm.get('otp').errors?.pattern">
                        Please Enter numbers only.
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary"  type="submit" (click)="verifyOTP()">verify OTP</button><br><br>
            </form>
    </div>
    <div *ngIf = passShow>
        <p style="color: green;">{{otp}}</p>
        <p style="color: red;">{{ematch}}</p>
        <!-- <form [formGroup]="passwordForm" class="text-center border border-light p-5" style="max-width: 400px;">
            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" formControlName="email" placeholder="Enter your Email">
            <input type="password" id="defaultRegisterFormotp" class="form-control mb-4" formControlName="password" placeholder="Enter your new password">  
            <button class="btn btn-info my-4 btn-block" type="submit" (click)="savePassword()">Save</button>
            <hr>
        </form> -->

        <form [formGroup]="passwordForm" >
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" placeholder="Enter Email" matInput />
                    </mat-form-field>
                    
            </div>
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    
                    <input formControlName="password" placeholder="Enter new password" matInput />
                    </mat-form-field>
                    
            </div>
            <button mat-raised-button color="primary"  type="submit" (click)="savePassword()">Save</button><br><br>
            </form>
    </div>
    </mat-card-content>
    </mat-card>